[submodule "puppet-modules/webadmin"]
	path = puppet-modules/webadmin
	url = https://github.com/zivtech/puppet-webadmin.git
[submodule "puppet-modules/php53"]
	path = puppet-modules/php53
	url = https://github.com/zivtech/puppet-php53.git
[submodule "puppet-modules/mysql5"]
	path = puppet-modules/mysql5
	url = https://github.com/zivtech/puppet-mysql5.git
[submodule "puppet-modules/puppet-vcsrepo"]
	path = puppet-modules/puppet-vcsrepo
	url = https://github.com/bruce/puppet-vcsrepo.git
[submodule "puppet-modules/solr"]
	path = puppet-modules/solr
	url = git@github.com:zivtech/puppet-drupal-solr.git
[submodule "puppet-modules/redis"]
	path = puppet-modules/redis
	url = https://github.com/thomasvandoren/puppet-redis.git
